<div class="container" ng-controller="searchController" ng-init="init()">
<div class="col-md-7" >
    <h1>장소 검색 서비스</h1>
    <form name="form" ng-submit="form.$valid && searchKeyword()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.keyword.$invalid }">
            <label for="keyword">검색 단어</label>
            <input type="text" name="keyword" class="form-control" ng-model="keyword" required />
            <div ng-messages="form.$submitted && form.keyword.$error" class="help-block">
                <div ng-message="required">keyword is required</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="loginController.loading" class="btn btn-primary">검색</button>
            <img ng-if="loginController.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">장소명</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="place in places">
            <td ng-click="searchViewInfo(place)">
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                {{ place.place_name }}
            </td>
        </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="totalItems"
        ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize"
        class="pagination-sm" boundary-link-numbers="true" rotate="false"> </ul>



    <p><a href="#/login">Logout</a></p>
</div>
    <div class="form-group" style="margin-top: 15%">
        <label for="topKeyword">인기 검색어</label>
        <table class="table table-striped" style="width:30%">
            <thead>
            <tr>
                <th style="width : 20%">순위</th>
                <th style="width : 80%" scope="col">장소명</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="keyword in topKeywords">
                <td> {{$index+1}}</td>
                <td>
                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                    {{ keyword.keyword}}
                </td>
                <td>
                    {{keyword.accumulateCount}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>